<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ballaro Website</title>
    </head>
    <body>
        <h1>Ballaro App: Elenco API - v2</h1>

        <ul>
            <li><a href="https://ballaro.herokuapp.com/api/mercati">Elenco di tutti i mercati del territorio Italiano</a></li>
            <li><a href="https://ballaro.herokuapp.com/api/mercati/napoli">Elenco di tutti i mercati della provincia di Napoli (parametro)</a></li>
            <li><a href="https://ballaro.herokuapp.com/api/coltivazioni/palermo/5">I primi 5 (parametro 2) prodotti più coltivati nella provincia di Palermo (parametro 1)</a></li>
            <li><a href="https://ballaro.herokuapp.com/api/porti">Elenco di tutti i porti del territorio Italiano</a></li>
            <br/>
            <li><a href="https://ballaro.herokuapp.com/api/pescato/terrasini/5">Le prime 5 (parametro 2) specie di pesce pescati e sbarchi nel porto di Terrasini (parametro 2)</a></li>
            <br/>
            <li><a href="https://ballaro.herokuapp.com/data/fruttadistagione">Frutta di stagione</a></li>
            <li><a href="https://ballaro.herokuapp.com/data/verduradistagione">Verdura di stagione</a></li>
            <li><a href="https://ballaro.herokuapp.com/data/pescatodistagione">Pesce di stagione</a></li>
        </ul>

    </body>
</html>